<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Wishbone</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-snap/angular-snap.css" />
        <link rel="stylesheet" href="bower_components/typicons/src/font/typicons.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- fonts -->
        <!--<link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>-->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="bower_components/typicons/src/font/typicons.min.css" />
        </head>
        <body ng-app="demoSassApp" ng-controller="ApllicationCtrl">
        <div class="navbar navbar-default navbar-fixed-top heading" role="navigation" ng-show="loggedIn">
                <div class="header heading container-fluid">
                    <div class="row">
                        <div class="col-xs-4 ">
                           <div class="left-head icons" snap-toggle="left"> 
                            <span class="typcn typcn-th-menu button-icon"></span>
                            </div>
                            
                        </div>
                         <div class="col-xs-4"><div class="page-title text-center">{{pageTitle}}</div>
                        </div>
                        <div class="col-xs-4 ">
                            <!--<div class="right-head icons" snap-toggle="right">
                            <span class="glyphicon glyphicon-edit button-icon" ng-show="rightMenu"></span>
                            </div>-->
                            
                        </div>
                       
                    </div>
                    
                </div>
                </div>

            <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <!-- Add your site or application content here -->
            <div class="side-panel" snap-drawer>
                <!--<a href="#/main" snap-toggle="left"><div class="side-panel-item"><span class="glyphicon glyphicon-home panel-icon"></span>Home</div></a>
                <a href="#/graphs" snap-toggle="left"><div class="side-panel-item"><span class="glyphicon glyphicon-stats panel-icon"></span>Graph</div></a>
                <a href="#/commands" snap-toggle="left"><div class="side-panel-item"><span class="glyphicon glyphicon-cloud-upload panel-icon"></span>Commands</div></a>
                <a href="#/events" snap-toggle="left"><div class="side-panel-item"><span class="glyphicon glyphicon-cloud-download panel-icon"></span>Notifications</div></a>
                <a href="#/settings" snap-toggle="left"><div class="side-panel-item"><span class="glyphicon glyphicon-cog panel-icon"></span>Settings</div></a>
                <a href="#/login" snap-toggle="left" ng-click="logout()"><div class="side-panel-item"><span class="glyphicon glyphicon-user panel-icon"></span>Log Out</div></a>-->
                <a ng-repeat="menuOption in menuOptions" href="{{menuOption.route}}" snap-toggle="left" ng-click="setHeading({{menuOption}})">
                    <div class="side-panel-item"><span class="{{menuOption.icon}} panel-icon"></span>{{menuOption.menuName}}
                    </div>
                </a>
                <a href="#/login" snap-toggle="left" ng-click="logout()"><div class="side-panel-item"><span class="typcn typcn-user panel-icon"></span>Log Out</div></a>
            </div>
            <div class="side-panel" snap-drawer="right">
                <div class="side-panel-head">Options</div>
                <div ng-repeat="rightOptions in rightMenuOptions" class="side-panel-item"><span class="{{rightOptions.icon}} panel-icon"></span>{{rightOptions.name}}</div>
                <!--<div class="side-panel-item"><span class="glyphicon glyphicon-plus-sign panel-icon"></span>Add</div>
                <div class="side-panel-item"><span class="glyphicon glyphicon-plus-sign panel-icon"></span>Edit</div>
                <div class="side-panel-item"><span class="glyphicon glyphicon-remove-sign panel-icon"></span>Delete</div>-->
            </div>

            <div snap-content>
                
                <div class="container main" ng-view="" ></div>
    
            </div>
            
            
            <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
            </script>
            <!-- build:js(.) scripts/oldieshim.js -->
            <!--[if lt IE 9]>
            <script src="bower_components/es5-shim/es5-shim.js"></script>
            <script src="bower_components/json3/lib/json3.min.js"></script>
            <![endif]-->
            <!-- endbuild -->
            <!-- build:js(.) scripts/vendor.js -->
            <!-- bower:js -->
            <script src="bower_components/jquery/dist/jquery.js"></script>
            <script src="bower_components/angular/angular.js"></script>
            <script src="bower_components/json3/lib/json3.js"></script>
            <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
            <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
            <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
            <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
            <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
            <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
            <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
            <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
            <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
            <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
            <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
            <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
            <script src="bower_components/angular-resource/angular-resource.js"></script>
            <script src="bower_components/angular-cookies/angular-cookies.js"></script>
            <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
            <script src="bower_components/angular-animate/angular-animate.js"></script>
            <script src="bower_components/angular-touch/angular-touch.js"></script>
            <script src="bower_components/angular-route/angular-route.js"></script>
            <script src="bower_components/chartjs/Chart.min.js"></script>
            <script src="bower_components/angles/angles.js"></script>
            <script src="bower_components/snapjs/snap.js"></script>
            <script src="bower_components/angular-snap/angular-snap.js"></script>
            <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
            <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
            <script src="bower_components/highcharts/highcharts.js"></script>
            <script src="bower_components/highcharts/highcharts-more.js"></script>
            <script src="bower_components/highcharts/modules/exporting.js"></script>
            <!-- endbower -->
            <!-- endbuild -->
            <!-- build:js({.tmp,app}) scripts/scripts.js -->
            <script src="scripts/app.js"></script>
            <script src="scripts/controllers/login.js"></script>
            <script src="scripts/controllers/main.js"></script>
            <script src="scripts/services/authenticate.js"></script>
            <script src="scripts/services/session.js"></script>
            <script src="scripts/controllers/apllication.js"></script>
            <script src="scripts/controllers/graphs.js"></script>
            <script src="scripts/controllers/commands.js"></script>
            <script src="scripts/controllers/events.js"></script>
            <script src="scripts/controllers/settings.js"></script>
            <script src="scripts/services/sessiondetails.js"></script>
            <script src="scripts/services/menu.js"></script>
            <script src="scripts/controllers/summary.js"></script>
            <script src="scripts/services/storageboxes.js"></script>
            <script src="scripts/services/networks.js"></script>
            <script src="scripts/services/devices.js"></script>
            <script src="scripts/services/data.js"></script>
            <script src="scripts/controllers/devices.js"></script>
            <script src="scripts/controllers/graphlist.js"></script>
            <!-- endbuild -->
        </body>
    </html>