<div class="container">
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">New Device Connected</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago </small></p>
            </div>
            <div class="timeline-body">
              <p>New device 123-4hjk5 connected to network</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Temp Warning</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 13 hours ago </small></p>
            </div>
            <div class="timeline-body">
              <p>Tempreture exceeding 25 degrees celcius</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Error gateway gone down</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 14 hours ago </small></p>
            </div>
            <div class="timeline-body">
              <p>Gateway id:123453443 out of contact</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">New Device Connected</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago </small></p>
            </div>
            <div class="timeline-body">
              <p>New device 123-4hjk5 connected to network</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Temp Warning</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 13 hours ago </small></p>
            </div>
            <div class="timeline-body">
              <p>Tempreture exceeding 25 degrees celcius</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Error gateway gone down</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 14 hours ago </small></p>
            </div>
            <div class="timeline-body">
              <p>Gateway id:123453443 out of contact</p>
            </div>
          </div>
        </li>
    </ul>
</div>
